<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" type="text/css"  media="screen" href="{%  static 'styles/main.css'%}">
</head>
<body>
    <nav>
        <a href="/">Logo</a>
    </nav>
    <div>
        <form action="{% url 'home'%}" method="get">

            <input type="text" placeholder="Search here..." name="q">

        </form>
    </div>
    {% if request.user.is_authenticated %}
    <h3><a href="{% url 'logout' %}">Logout</a></h3>
    {% else %}
    <h3><a href="{% url 'login' %}">Login</a></h3>
    {% endif %}

    {%if messages %}
    <ul class="messages">
    {% for message in messages %}
       <li> {{message}}</li>
    {%endfor%}
    </ul>
    {% endif %}
    {% block content %}

    {% endblock %}
</body>
</html>